---
layout: layouts/home.njk
eleventyNavigation:
  key: 만세!
  order: 2
---
<h1>블로그 목록</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<p>+ <a href="https://vore.website/mansae">모든 글이 담긴 피드.</a><p>