---
layout: layouts/home.njk
eleventyNavigation:
  key: 홈
  order: 1
---
<h1><em>블로그 만세!</em></h1>
<mark>글에 집중하는 블로그</mark>를 찾아 소개합니다. 블로그 추천은 <a href="https://blogmansae.com/message">여기</a>로 부탁합니다.

<ol>
	<li>광고, 과금 유도 없음.</li>
	<li>글 10개 이상 발행.</li>
</ol>

	<script>
    	var sites = [
      	'http://kangminsuk.com',
        'http://jagunbae.com',
        'http://www.logoutisland.com',
        'http://daeho.io',
		'http://leeyujinlee.com',
		'http://www.learningman.co',
		'http://blog.wooseop.kim'
		'https://parksb.github.io/articles.html'
    	];

    	function randomSite() {
        	var i = parseInt(Math.random() * sites.length);
        	location.href = sites[i];
    	}
		</script>

<button class="random blog" type="button" style="background:#eeeeee;color:black;"><a href="#" onclick="randomSite();">랜덤으로 개인 블로그 탐험하기</a></button>
