---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<ol>
		<li>네이버, 브런치와 같은 플랫폼 대신 개별 도메인 사용.</li>
		<li>광고, 트래킹 없음.</li>
		<li>꾸준히 발행.</li>
	</ol>
</div>
<!-- Stop deleting -->

{{ content | safe }}
